.yazy-button {
  background-color: black;
  font-family: inherit;
  color: white;
  border: unset;
  border-radius: 45px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
  }
}
